.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transform: translate3d(-100px, -100px, 0);
    /* Init off-screen */
    transition: width 0.3s, height 0.3s, background-color 0.3s;
    mix-blend-mode: difference;
    will-change: transform;
    margin-top: -10px;
    /* Center cursor */
    margin-left: -10px;
}

.custom-cursor.hover {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 51, 51, 0.1);
    border-color: transparent;
    margin-top: -25px;
    margin-left: -25px;
    backdrop-filter: blur(2px);
}

@media (hover: none) {
    .custom-cursor {
        display: none;
    }
}