.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 4px solid var(--accent-color);
    pointer-events: none;
    z-index: 100000;
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s, background-color 0.2s;
    mix-blend-mode: exclusion;
}

.custom-cursor.hover {
    width: 32px;
    height: 32px;
    background: rgba(255, 51, 51, 0.2);
    border-color: #fff;
}

.cursor-ghost {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid var(--accent-color);
    pointer-events: none;
    z-index: 99999;
    transform: translate(-50%, -50%);
}

@media (hover: none) {

    .custom-cursor,
    .cursor-ghost {
        display: none !important;
    }
}